In [41]:
#library imports
import pandas as pd
import plotly.express as px
import json
import geopandas as gpd
import seaborn as sns
import matplotlib.pyplot as plt

In [33]:
## Load datasets

# The original datasets are using a semicolon (;) instead of a comma (,) as a delimiter. 
# To load the CSV file correctly, the delimiter is specified in the 'pd.read_csv()' function.

rnew_elec = pd.read_csv('Totaal bekende hernieuwbare elektriciteit - Gemeenten.csv', delimiter=';')
rnew_heat = pd.read_csv('Totaal bekende hernieuwbare warmte - Gemeenten.csv', delimiter=';')


## Format datasets

# The original datasets specify the columns using data information and year: 
# 'Totaal bekende hernieuwbare elektriciteit|2010'. In order to have a clear and readable dataset,
# these names are changed to only the year using the .split() method to split the name at the '|' character.

# Extract the year from the column names for rnew_elec
new_columns_elec = [col.split('|')[-1] for col in rnew_elec.columns]

# Extract the year from the column names for rnew_heat
new_columns_heat = [col.split('|')[-1] for col in rnew_heat.columns]

# Assign the new column names to the Data Sets
rnew_elec.columns = new_columns_elec
rnew_heat.columns = new_columns_heat


# The "Gemeenten" column represents municipalities and serves as a unique identifier for each row.
# By setting it as the index, we enhance the structure and readability of our datasets, 
# making subsequent operations, analyses, and visualizations more straightforward.

# Setting 'Gemeenten' as index for both Data Sets
rnew_elec.set_index('Gemeenten', inplace=True)
rnew_heat.set_index('Gemeenten', inplace=True)

In [40]:
rnew_elec

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Gemeenten,,,,,,,,,,,,
Aa en Hunze,1,2,5,9,14,19,24,30,44,59,93,290
Aalsmeer,0,0,1,3,5,7,10,14,24,33,52,85
Aalten,106,112,113,108,120,129,114,123,144,156,190,197
Achtkarspelen,6,6,7,8,11,13,16,21,52,83,98,108
Alblasserdam,0,0,0,1,3,3,4,5,8,9,14,20
...,...,...,...,...,...,...,...,...,...,...,...,...
Zundert,0,0,1,3,5,8,11,14,22,33,53,67
Zutphen,31,33,33,33,39,43,45,47,69,75,115,163
Zwartewaterland,0,0,1,3,4,7,11,17,35,49,69,81
Zwijndrecht,0,0,1,2,4,6,8,10,16,21,35,46
Zwolle,1,13,48,90,105,118,140,171,211,246,396,542

In [42]:
rnew_heat

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Gemeenten,,,,,,,,,,,,
Aa en Hunze,70,72,75,74,75,97,90,85,81,81,80,78
Aalsmeer,41,42,42,42,42,42,41,42,42,41,41,42
Aalten,55,56,55,55,55,54,54,53,53,53,51,52
Achtkarspelen,69,70,145,120,87,85,82,94,95,106,100,93
Alblasserdam,12,13,12,13,13,13,13,12,13,13,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...
Zundert,54,55,53,54,53,53,52,52,52,51,60,55
Zutphen,38,39,38,38,38,38,37,37,37,37,38,38
Zwartewaterland,37,38,37,37,37,37,37,36,37,116,120,120
Zwijndrecht,24,25,25,25,25,25,25,24,25,25,25,25
Zwolle,108,125,192,211,168,189,207,218,254,284,263,267

In [50]:
gpd.read_file('georef-netherlands-gemeente-millesime.shp')

,year,prov_code,prov_name,gem_code,gem_name,gem_area_co,gem_type,gem_cbs_cod,geometry
0,2021,['26'],['Utrecht'],['0344'],['Utrecht'],NLD,Gemeente,['GM0344'],"POLYGON ((5.12683 52.05492, 5.12639 52.05498, ..."
1,2021,['27'],['Noord-Holland'],['0420'],['Medemblik'],NLD,Gemeente,['GM0420'],"POLYGON ((4.97920 52.67968, 4.97912 52.67982, ..."
2,2021,['25'],['Gelderland'],['1586'],['Oost Gelre'],NLD,Gemeente,['GM1586'],"POLYGON ((6.46219 52.02170, 6.46323 52.02156, ..."
3,2021,['31'],['Limburg'],['1507'],['Horst aan de Maas'],NLD,Gemeente,['GM1507'],"POLYGON ((5.93129 51.38475, 5.92754 51.38912, ..."
4,2021,['23'],['Overijssel'],['1896'],['Zwartewaterland'],NLD,Gemeente,['GM1896'],"POLYGON ((5.98102 52.62830, 5.98863 52.62932, ..."
...,...,...,...,...,...,...,...,...,...
347,2021,['26'],['Utrecht'],['0355'],['Zeist'],NLD,Gemeente,['GM0355'],"POLYGON ((5.19516 52.07735, 5.19488 52.07833, ..."
348,2021,['27'],['Noord-Holland'],['0406'],['Huizen'],NLD,Gemeente,['GM0406'],"POLYGON ((5.22459 52.32576, 5.22932 52.32526, ..."
349,2021,['27'],['Noord-Holland'],['0397'],['Heemstede'],NLD,Gemeente,['GM0397'],"POLYGON ((4.63965 52.33891, 4.63856 52.33877, ..."
350,2021,['30'],['Noord-Brabant'],['0766'],['Dongen'],NLD,Gemeente,['GM0766'],"POLYGON ((4.93317 51.67675, 4.93371 51.67687, ..."
351,2021,['28'],['Zuid-Holland'],['0610'],['Sliedrecht'],NLD,Gemeente,['GM0610'],"POLYGON ((4.72964 51.82217, 4.73103 51.82416, ..."